<form action = "/articles" method = "post">
  <p>title: <input type = "input" id ="title" name = "article[title]"></p>
  <h3>content</h3>
  <textarea id = "content" name = "article[content]"></textarea>
  <input type = "submit" id = "Submit">

</form>